html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#editor-container {
  height: 100vh;
  width: 100vw;
}

.CodeMirror {
  height: 100% !important;
  width: 100% !important;
  direction: rtl;
  font-size: 16px;
  overflow: hidden;
}

.CodeMirror-gutters {
  left: auto !important;
  right: 0;
}

.CodeMirror-sizer {
  margin-left: 0 !important;
  margin-right: 30px !important;
}

.CodeMirror-scroll {
  overflow: hidden;
}

.CodeMirror {
  pointer-events: auto;
}